<section *ngIf="state" [@archiveAnimation] class="section archive">
  <div class="container">
    <div class="archive-title">
      <h1 class="big-title">Proyectos</h1>
      <p class="archive-subtitle big-subtitle">Una lista mas completa</p>
    </div>
    <div class="archive-table-container">
      <table class="archive__StyledTable-lXDeB haZMKe">
        <thead>
          <tr>
            <th>Year</th>
            <th>Title</th>
            <th class="hide-on-mobile">Made at</th>
            <th class="hide-on-mobile">Built with</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          <tr data-sr-id="3">
            <td class="proyect-date">2020</td>
            <td class="proyect-title">Sistem web Avicola</td>
            <td class="proyect-company"><span>Monagas - VE</span></td>
            <td class="proyect-skills">
              <span>Laravel<span class="separator">·</span></span>
              <span>Webpack</span>
            </td>
            <td class="proyect-links">
              <span
                ><a
                  href="https://github.com/andresjosehr/Avicola"
                  style="color: inherit"
                  ><i class="ml-4 fab fa-github"></i></a
              ></span>
              <span
                ><a
                  href="http://avicola.luzzidigital.fav/"
                  style="color: inherit"
                  ><i class="ml-4 fas fa-external-link-alt"></i></a
              ></span>
            </td>
          </tr>
          <tr data-sr-id="3">
            <td class="proyect-date">2020</td>
            <td class="proyect-title">Cenem</td>
            <td class="proyect-company"><span>Monagas - VE</span></td>
            <td class="proyect-skills">
              <span>Wordpress<span class="separator">·</span></span>
              <span>Divi</span>
            </td>
            <td class="proyect-links">
              <span
                ><a href="http://cenem.luzzidigital.fav/" style="color: inherit"
                  ><i class="ml-4 fas fa-external-link-alt"></i></a
              ></span>
            </td>
          </tr>
          <tr data-sr-id="3">
            <td class="proyect-date">2020</td>
            <td class="proyect-title">ClerckContable</td>
            <td class="proyect-company"><span>Caracas - VE</span></td>
            <td class="proyect-skills">
              <span>HTML<span class="separator">·</span></span>
              <span>CSS</span>
            </td>
            <td class="proyect-links">
              <span
                ><a
                  href="https://github.com/andresjosehr/Clerkcontable"
                  style="color: inherit"
                  ><i class="ml-4 fab fa-github"></i></a
              ></span>
              <span
                ><a
                  href="https://clerckcontable.luzzidigital.fav"
                  style="color: inherit"
                  ><i class="ml-4 fas fa-external-link-alt"></i></a
              ></span>
            </td>
          </tr>
          <tr data-sr-id="3">
            <td class="proyect-date">2020</td>
            <td class="proyect-title">Innerfire</td>
            <td class="proyect-company"><span>Monagas - VE</span></td>
            <td class="proyect-skills">
              <span>Wordpress<span class="separator">·</span></span>
              <span>HTML<span class="separator">·</span></span>
              <span>CSS</span>
            </td>
            <td class="proyect-links">
              <span
                ><a
                  href="http://innerfire.luzzidigital.fav/"
                  style="color: inherit"
                  ><i class="ml-4 fas fa-external-link-alt"></i></a
              ></span>
            </td>
          </tr>
          <tr data-sr-id="3">
            <td class="proyect-date">2020</td>
            <td class="proyect-title">Inver</td>
            <td class="proyect-company"><span>Monagas - VE</span></td>
            <td class="proyect-skills">
              <span>Wordpress<span class="separator">·</span></span>
              <span>HTML<span class="separator">·</span></span>
              <span>CSS</span>
            </td>
            <td class="proyect-links">
              <span
                ><a
                  href="https://github.com/andresjosehr/inver-content/"
                  style="color: inherit"
                  ><i class="ml-4 fab fa-github"></i></a
              ></span>
              <span
                ><a href="http://inver.luzzidigital.fav/" style="color: inherit"
                  ><i class="ml-4 fas fa-external-link-alt"></i></a
              ></span>
            </td>
          </tr>
          <tr data-sr-id="3">
            <td class="proyect-date">2020</td>
            <td class="proyect-title">Persimas</td>
            <td class="proyect-company"><span>Caracas - VE</span></td>
            <td class="proyect-skills">
              <span>Bootstrap<span class="separator">·</span></span>
              <span>HTML<span class="separator">·</span></span>
              <span>CSS</span>
            </td>
            <td class="proyect-links">
              <span
                ><a
                  href="https://github.com/andresjosehr/Persimas"
                  style="color: inherit"
                  ><i class="ml-4 fab fa-github"></i></a
              ></span>
              <span
                ><a
                  href="https://persimas.luzzidigital.fav"
                  style="color: inherit"
                  ><i class="ml-4 fas fa-external-link-alt"></i></a
              ></span>
            </td>
          </tr>
          <tr data-sr-id="3">
            <td class="proyect-date">2020</td>
            <td class="proyect-title">Rodrigo</td>
            <td class="proyect-company"><span>Caracas - VE</span></td>
            <td class="proyect-skills">
              <span>Bootstrap<span class="separator">·</span></span>
              <span>HTML<span class="separator">·</span></span>
              <span>CSS</span>
            </td>
            <td class="proyect-links">
              <span
                ><a
                  href="https://github.com/andresjosehr/Rodrigo"
                  style="color: inherit"
                  ><i class="ml-4 fab fa-github"></i></a
              ></span>
              <span
                ><a
                  href="https://rodrigo.luzzidigital.fav"
                  style="color: inherit"
                  ><i class="ml-4 fas fa-external-link-alt"></i></a
              ></span>
            </td>
          </tr>
          <tr data-sr-id="3">
            <td class="proyect-date">2020</td>
            <td class="proyect-title">Salud al Dia</td>
            <td class="proyect-company"><span>Caracas - VE</span></td>
            <td class="proyect-skills">
              <span>Wordpress<span class="separator">·</span></span>
              <span>Divi</span>
            </td>
            <td class="proyect-links">
              <span
                ><a
                  href="https://saludaldia.luzzidigital.fav"
                  style="color: inherit"
                  ><i class="ml-4 fas fa-external-link-alt"></i></a
              ></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
