@import "./../../../../variables.scss";

.more-proyects {
  .img-left {
    float: left;
  }

  .img-right {
    float: right
  }

  .center {
    text-align: center;
    border: 1px solid black;
  }

  .proyect-col {
    padding: 10px;
    //height: 400px;

    .skill-box {
      height: 125px;
      box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
      align-items: flex-start;
      position: relative;
      padding: 1rem 1.75rem;
      background-color: $LightNavy;
      cursor: pointer;

      &:after,&:before{
        content:" ";
        width:10px;
        height:10px;
        position:absolute;
        border :0px solid $LightestSlate;
        transition:all 1s;
      }
      &:after{
        top:-1px;
        left:-1px;
        border-top:5px solid $LightestSlate;
        border-left:5px solid $LightestSlate;
      }
      &:before{
        bottom:-1px;
        right:-1px;
        border-bottom:5px solid $LightestSlate;
        border-right:5px solid $LightestSlate;
      }
      &:hover{
        border-top-right-radius:0px;
        border-bottom-left-radius:0px;

        &:before,&:after{
          width:100%;
          height:100%;
        }
      }

      &:hover, &:focus {
        box-shadow: 0 20px 30px -15px rgba(2, 12, 27, 0.7);
      }

      svg {
        width: 40px;
        height: 40px;
        color: $Green;
      }

      .other-proyect-title {
        margin: 0 0 10px;
        font-size: 22px;
        color: $LightestSlate;
      }

      .other-proyect-description {
        font-size: 17px;
        color: $LightSlate;
      }

      .more-proyects-skills {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: flex-end;
        -webkit-box-align: flex-end;
        -ms-flex-align: flex-end;
        align-items: flex-end;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0;
        margin: 20px 0 0 0;
        list-style: none;

        li {
          font-size: 12px;
          color: $Slate;
          line-height: 1.75;
          margin-right: 15px;
          font-family: $CodeFont;

          .underline {
            padding-bottom: 3.5px;
          }
        }
      }
    }
  }

  .logo:hover{
    width: 100px;
  }

}

@media(max-width: 1300px) {
  .more-proyects {
    .proyect-col {
      height: auto;
    }
  }
}
